<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> My Positions
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Stage</th>
                <th>No of Position Filled</th>
                <th>No of Position Remaining</th>
                <th>Purchase Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>121</td>
                <td>Stage 1</td>
                <td>2</td>
                <td>6</td>
                <td>12.Feb.2020</td>
                <td>
                  <span class="badge badge-success">Cycled</span>
                </td>
              </tr>
              <tr>
                <td>121</td>
                <td>Stage 1</td>
                <td>2</td>
                <td>6</td>
                <td>12.Feb.2020</td>
                <td>
                  <span class="badge badge-danger">Pending</span>
                </td>
              </tr>
              <tr>
                <td>121</td>
                <td>Stage 1</td>
                <td>2</td>
                <td>6</td>
                <td>12.Feb.2020</td>
                <td>
                  <span class="badge badge-success">Cycled</span>
                </td>
              </tr>
              <tr>
                <td>121</td>
                <td>Stage 1</td>
                <td>2</td>
                <td>6</td>
                <td>12.Feb.2020</td>
                <td>
                  <span class="badge badge-success">Cycled</span>
                </td>
              </tr>
              <tr>
                <td>121</td>
                <td>Stage 1</td>
                <td>2</td>
                <td>6</td>
                <td>12.Feb.2020</td>
                <td>
                  <span class="badge badge-success">Cycled</span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>