<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-header">
              <strong>Change Password</strong>
            </div>
            <div class="card-body">
              <tabset>
                <tab heading="Change Password">
                  <form [formGroup]="changepassword">
                    <div class="row">
                      <div class="col-sm-8">
                        <div class="form-group">
                          <label for="name">Current Password:</label>
                          <input type="password" formControlName="OldPassword" class="form-control" placeholder="Enter Current Password"
                            [ngClass]="{ 'is-invalid': submitted && f.OldPassword.errors }" />
                          <div *ngIf="submitted && f.OldPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.OldPassword.errors.required">Current Password is required</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-8">
                        <div class="form-group">
                          <label for="name">New Password:</label>
                          <input type="password" formControlName="NewPassword" class="form-control" placeholder="Enter New Password"
                            [ngClass]="{ 'is-invalid': submitted && f.NewPassword.errors }" />
                          <div *ngIf="submitted && f.NewPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.NewPassword.errors.required">New Password is required</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-8">
                        <div class="form-group">
                          <label for="name">Confirm Password:</label>
                          <input type="password" formControlName="ConfirmNewPassword" class="form-control" placeholder="Enter Confirm Password"
                            [ngClass]="{ 'is-invalid': submitted && f.ConfirmNewPassword.errors }" />
                          <div *ngIf="submitted && f.ConfirmNewPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.ConfirmNewPassword.errors.required">Confirm Password is required</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <button type="save" (click)="ChangePassword()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Save</button>
                      <button type="cancel" (click)="onReset()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>
                        Cancel</button>
                    </div>
                  </form>
                </tab>
                <tab heading="2 Factor Authentication">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-check form-check-inline mr-1">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="customSwitch1"  (change)="Setup2FA()" [(ngModel)]="Is2FAEnable" checked>
                          <label class="custom-control-label" for="customSwitch1">{{EnableDisableText}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" [hidden]="!ShowQRCode">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="name">QR Code:</label>
                        <img [src]="QRCodeUrl" width=200/>
                      </div>
                    </div>
                  </div>
                  <div class="row"[hidden]="!ShowQRCode">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="name">Manual Entry Code:</label>
                        {{ManualEntryCode}}
                      </div>
                    </div>
                  </div>
                  <div class="row" [hidden]="!ShowPinInput">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="name">Enter OTP:</label>
                        <input type="number" class="form-control" [(ngModel)]="Pin2FA" placeholder="Enter OTP Generated" />
                      </div>
                    </div>
                  </div>
                  <div [hidden]="!ShowPinInput">
                    <button type="save" (click)="validate2FA()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Save</button>
                    <button type="cancel" (click)="onCancel2FA()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>
                      Cancel</button>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
    </div>
  </div>
</div>