<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Daily GCT</strong>
        </div>
        <div class="card-body" [hidden]="!showform">
          <div class="row">
            <div class="col-md-4">
              <h1>Share on Facebook and Earn 5 GCT</h1>
              <a (click)="openModel('facebookad')" class="btn btn-secondary btn-block">Share on Facebook</a>
            </div>
            <div class="col-md-4">
              <h1>Share on Facebook and Earn 5 GCT</h1>
              <a (click)="openModel('facebookad')" class="btn btn-secondary btn-block">Share on Whatsapp</a>
            </div>
            <div class="col-md-4">
              <h1>Submit Blog and Earn 100 GCT</h1>
              <a (click)="openModel('facebookad')" class="btn btn-secondary btn-block">Submit Blog</a>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div><!--/.col-->
   </div>
</div>