<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Deposit History</strong>
        </div>
        <div class="card-body">

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="date-input">Start Date</label>
            <div class="col-md-9">
              <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
              <!-- <span class="help-block">Please enter a valid date</span> -->
            </div>
          </div>
          
          <div class="form-group row">
          <label class="col-md-3 col-form-label" for="date-input">End Date</label>
          <div class="col-md-9">
            <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
            <!-- <span class="help-block">Please enter a valid date</span> -->
          </div>
        </div>

          <div class="row">
            <div class="form-group col-sm-4">
              <label for="ccmonth">Transaction History</label>
              <select class="form-control" id="ccmonth">
                <option>Bitcoin</option>
                <option>PM</option>
                <option>Payeer</option>
              </select>
            </div>
          </div><!--/.row-->
          <div>
            <button class="btn btn-secondary" type="button">Apply Filter</button>
          </div>
         
        </div>
      </div>
    </div><!--/.col-->
   </div>
   
  <div class="card" > 
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Deposit Report
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Customer Email</th>
            <th>Transaction Type</th>
            <th>Amount</th>
            <th>Processor Name</th>
            <th>Transaction Date</th>
            <th>Transaction Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>121</td>
            <td>test@gmail.com</td>
            <td>test</td>
            <td>1001</td>
            <td>test</td>
            <td>19-feb-2020</td>
            <td>
              <span class="badge badge-success">Cycled</span>
            </td>
          </tr>
          <tr>
            <td>121</td>
            <td>test@gmail.com</td>
            <td>test</td>
            <td>1001</td>
            <td>test</td>
            <td>19-feb-2020</td>
            <td>
              <span class="badge badge-danger">Pending</span>
            </td>
          </tr>
          <tr>
            <td>121</td>
            <td>test@gmail.com</td>
            <td>test</td>
            <td>1001</td>
            <td>test</td>
            <td>19-feb-2020</td>
            <td>
              <span class="badge badge-success">Cycled</span>
            </td>
          </tr>
          <tr>
            <td>121</td>
            <td>test@gmail.com</td>
            <td>test</td>
            <td>1001</td>
            <td>test</td>
            <td>19-feb-2020</td>
            <td>
              <span class="badge badge-success">Cycled</span>
            </td>
          </tr>
          <tr>
            <td>121</td>
            <td>test@gmail.com</td>
            <td>test</td>
            <td>1001</td>
            <td>test</td>
            <td>19-feb-2020</td>
            <td>
              <span class="badge badge-success">Cycled</span>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div>
  </div>
</div>