<div class="animated fadeIn">
  <div class="card" > 
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Program Updates
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Subject</th>
            <th>Date</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let news of NewsData">
            <td>{{news.Name}}</td>
            <td>{{news.Subject}}</td>
            <td>{{news.CreatedOnUtc |  date:'mediumDate'}}</td>
            <td>
              <span (click)="ViewNewsLetter(news)">
                <i class="fa fa-eye">View</i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">News Letter</h4>
        <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div [innerHTML]="NewsLetter.Body"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->