
@{
	ViewBag.Title = "Banner";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content-wrapper">
	<!-- BEGIN CONTENT BODY -->
	<div class="page-content">
		<div class="portlet light bordered">
			<div class="portlet light">
				<div class="portlet-body form">
					<div class="row">
						<h1>Promo Banner Links</h1>
						http://www.9xbitcoin.com/Content/Images/728.png <br />
						<img src="~/Content/images/728.png" />
						<br /><br /><br />
						http://www.9xbitcoin.com/Content/Images/468.png <br />
						<img src="~/Content/images/468.png" />
						<br /><br /><br />
						http://www.9xbitcoin.com/Content/Images/125.png <br />
						<img src="~/Content/images/125.png" /><br /><br />

					</div>
					<div class="row">
						<h1>
							Splash Page 1
							http://www.9xbitcoin.com/Home/SplashPage1?id=@ViewBag.CustomerId
						</h1><br />
						<h1>
							Splash Page 2
							http://www.9xbitcoin.com/Home/SplashPage2?id=@ViewBag.CustomerId
						</h1><br />
						<h1>Splash Page 3
						http://www.9xbitcoin.com/Home/SplashPage3?id=@ViewBag.CustomerId </h1><br />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

