@model  AdCampaign
@using SmartStore.Core.Domain.Advertisments

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>LoginAd</title>
	<link href="/Content/fontastic/fontastic.css" rel="stylesheet">
	<link href="/Content/vendors/font-awesome/font-awesome.css" rel="stylesheet">
	<link href="/Administration/Content/telerik/css/2012.2.607/telerik.common.css" rel="stylesheet">
	<link href="/Content/vendors/pnotify/css/pnotify.css" rel="stylesheet">
	<link href="/Content/vendors/pnotify/css/pnotify.mobile.css" rel="stylesheet">
	<link href="/Content/vendors/pnotify/css/pnotify.buttons.css" rel="stylesheet">
	<link href="/Administration/Content/theme.scss" rel="stylesheet" type="text/css">
	<script src="/Content/vendors/modernizr/modernizr.js"></script>
	<script src="/Content/vendors/jquery/jquery-3.2.1.js"></script>
	<link rel="shortcut icon" href="/Administration/favicon.ico?v=3.1">
	<script>
		$(document).ready(function () {
			var timeLeft = 20;
			var elem = document.getElementById('divTimer');
			var timerId = setInterval(countdown, 1000);

			function countdown() {
				if (timeLeft == -1) {
					clearTimeout(timerId);
					doSomething();
				} else {
					elem.innerHTML = timeLeft + ' more';
					timeLeft--;
				}
			}

			function doSomething() {
				window.location.href = '@Url.Action("Index","Home")';
			}
		})
	</script>
</head>
<body style="background:#0026ff">
	<nav style="position: relative; z-index: 2;height:80px;background:#0026ff;">
		<div style="float:right;display:flex;font-weight:bold;margin-right:100px;margin-top:20px;">
			<a href="@Model.WebsiteUrl" target="_blank" style="padding:10px;background:#fff;color:#0026ff;border-radius:3px;">Check this program</a>
		</div>
		<div style="float:right;display:flex;color:#fff;font-weight:bold;margin-right:100px;margin-top:20px;">
			<h1><div id="divTimer"></div></h1>
		</div>
	</nav>
	<iframe src="@Model.WebsiteUrl" style="border: 0; width: 100%; height: 100%; display: block; position: absolute; left: 0px; top: 90px;" />
</body>
</html>

