@model IEnumerable<DAL.Commission>
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<section id="about-us">
    <div class="container">
        <div class="skill-wrap clearfix">
            <div class="center wow fadeInDown">
                <h2>About <span>us.</span></h2>
                <p class="lead">Join with one time registration fees of Rs.100 and get all bill payments and recharge services with attractive commission.
                Please check below commission structure for respective service provider.</p>
            </div>
        </div>

        <!-- our-team -->
        <div class="team">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="container">
                            <h2>Commission Report</h2>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div><!--section-->
        
        <div class="center">
            <img src="~/images/recharge1.jpg" /><br />
            <img src="~/images/bill.jpg" />
        </div>
        
    </div><!--/.container-->
</section><!--/about-us-->

