
@{
    ViewBag.Title = "9xBitcoin Splash Page";
    Layout = "";
}

<div style="background-color:#E8CE0E;text-align:center;padding:0px;margin:0px;">
	<h1 style="font-weight:bolder;">
		Turn $10 INTO Perpetual Steady Cycles!
		Just 12 Phases Cashes You $268K + Over $25K in Referral Bonuses!
	</h1><br />
	<img src="~/Content/Images/ss-woman-money.jpg" height="400" /><br />
	<a href="http://www.9xbitcoin.com/register?r=@ViewBag.CustomerId"><img src="~/Content/Images/join-button.png" /></a>
</div>