
@{
    ViewBag.Title = "9xBitcoin Splash Page";
    Layout = "";
}

<div style="background-color:#E8CE0E;text-align:center;padding:0px;margin:0px;">
	<img src="~/Content/Images/imp.png"/><br />
	<a href="http://www.9xbitcoin.com/register?r=@ViewBag.CustomerId"><img src="~/Content/Images/join-button.png" /></a>
</div>