
@{
	ViewBag.Title = "Deposit";
}

<h2>Deposit</h2>
<div class="container">

	<div class="content">

		<div class="content-container">

			<div class="form-horizontal">
				<div class="box box-primary">
					<div class="box-body">
						<div class="form-group">
							<label class="col-sm-3 control-label">Package</label>
							<div class="col-sm-9">
								<select id="dllpacakge" class="form-control">
									<option value="0">-Select Package -</option>

									<option value="3">OCTUPLE ($1368.75)</option>
									<option value="4">LIFETIME (Unlimited)</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Amount($)</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="txtamt" onkeyup="getcoin()">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Bitcoin:</label>
						<div class="col-sm-9">
							<div class="input-group">
								<span class="input-group-addon">BTC</span>
								<input type="text" class="form-control" id="txtcoin" onkeyup="getdollar()" disabled="">
							</div>
						</div>
					</div>
					<div class="box-footer">
						<label for="inputPassword3" class="col-sm-3 control-label"></label>
						<div class="col-sm-9">
							<button type="submit" class="btn btn-success" id="btnpayment">Buy Package</button>
						</div>
					</div>

				</div>
			</div>
			

		</div>
		<!-- /.content-container -->

	</div>
	<!-- /.content -->
</div>