 <section class="page-wrapper">
    <!---- header section-->
    <header>
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-3 col-sm-12 col-xs-12">
            <div class="loginbtn desktophide">
              <a [routerLink]="['/login']"><img src="assets/img/avatar.svg" style="width:18px; height:18px;" /> Login</a> | <a
                [routerLink]="['/register']">Register</a>
            </div>
            <a href="#" class="logo"><img src="assets/img/logo.png" alt="Business Solution Team" /></a>
          </div>
          <div class="col-lg-7 col-md-9  col-sm-12 col-xs-12">
            <div class="loginbtn devicehide">
              <a [routerLink]="['/login']"><img src="assets/img/avatar.svg" style="width:18px; height:18px;" /> Login</a> | <a [routerLink]="['/register']"><img
                  src="assets/img/contract.svg" style="width:18px; height:18px;" /> Register</a>
            </div>
            <!----------- navigation-->
            <nav class="navbar navbar-expand-md ">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#countrymanagers">Country Manager</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link active" href="#package">Package</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#product">Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Packages</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="#contactus">Contact</a>
                  </li>
                </ul>

              </div>
            </nav>

          </div>
        </div>
      </div>
    </header>
    <!-- end header section-->

    <section class="homebanner">
      <div class="homeslider slider">
        <div><img src="assets/img/bannercontact.jpg" alt="" />
          <div class="bannertext">
        <h1>Solution for Petrol & Diesel Fuel Saving & Efficiency Build & Repair</h1>
      </div>
        </div>
        <!-- <div><img src="assets/img/banner2.jpg" alt="" /></div>
        <div><img src="assets/img/banner3.jpg" alt="" /></div>
        <div><img src="assets/img/banner4.jpg" alt="" /></div> -->
      </div>

    </section>

    <!----- content area start -->

    <section class="contentarea">
      
      <div class="container">
        <a name="aboutus"></a>
        <div class="row">
          <div class="col-md-12">
            <div class="cntarea homecontent">
              <h1 class="text-center">Magic Booster</h1>
              <div class="row">
                <div class="col-md-6">
                  <h2>NANOTECHNOLOGY
                   <span> MAGIC BOOSTER BIO-OIL ADDICTIVE.</span></h2>
                   <p>Nano technology is the science and technology that controls substances, materials and systems on a nanometer scale, thus producing new functions that have never existed before. The size of 1 nanometer is 1 per billion meters which means 50,000 times smaller than the size of human hair.</p>
<p>
This knowledge has evolved over time from various in industry, engineering, health and safety, IT and communications, Science and so on.</p>
<p>
One of the spaces used in this technology is in the fluid part which is applied in the oil part. It took our scientists 7 years to produce the Living Gold Nano Technology formula that can be widely used in your vehicle.</p>
                </div>
                <div class="col-md-6">
                  <div class="imabebox">
                  <img src="assets/img/about1-300x218.jpg"/>
                  </div>
              </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="imabebox">
                  <img src="assets/img/about2-300x218.jpg"/>
                </div>
                </div>
                <div class="col-md-6">
                  <h2>OUR VISION
                   <span> MAGIC BOOSTER COMPANY VISION.</span></h2>
                   <p>
                    MAGIC BOOSTER is a company specially established to solve the problem of rising world oil market prices. We do our best to address this problem by helping to maintain better quality (current oil grade) so that the amount of API MATERIALS USED during combustion in the ENGINE can be reduced. Therefore, it can save the rate of fuel consumption (Petrol / diesel) as well as help consumers achieve MAXIMUM POWER, MAXIMUM SAVINGS and reduce the release of carbon dioxide gas. Come on! help us to realize the mission to Create a Breathing Atmosphere.
                   </p>
                </div>
               
              </div>

              <div class="row">
                
                <div class="col-md-6">
                  <h2>OUR MISSION
                   <span> MAGIC BOOSTER COMPANY MISSION.</span></h2>
                   <p>
                    Become an additional MANUFACTURER & SUPPLIER Supplier on oil no. 1 in the World with Living Gold Nano Technology to provide More Savings, Maximum Power and Outstanding Performance at an affordable price and high quality production so that it is valuable to consumers as well as fully benefited when using it.
                   </p>
                </div>
                <div class="col-md-6">
                  <div class="imabebox">
                  <img src="assets/img/about3-300x218.jpg"/>
                </div>
                </div>
               
              </div>

             
            </div>
          </div>
        </div>
      </div>
      <a name="package"></a>
      <div class="packagesbox">
        <div class="container">
          <h1 class="text-center">Packages</h1>
          <div class="row">
            <!-- Free Tier -->
            <div class="col-lg-4">
              <div class="card mb-5 mb-lg-0 ">
                <div class="card-body">
                  <h2 class="card-price text-center">$40 <br /> <span>MB1 Pack</span></h2>
                  <hr>
                  <!-- <ul class="adpackul">
                    <li>Dairect Income RM 48</li>
                    <li>Daily Network Income RM 80 (8 Pair)</li>
                    <li>Monthly Network Income Limit RM2400</li>
                  </ul> -->
                  <a href="#/login" class="btn btn-block btn-primary text-uppercase">Buy Now</a>
                </div>
              </div>
            </div>
            <!-- Plus Tier -->
            <div class="col-lg-4">
              <div class="card mb-5 mb-lg-0 darkback">
                <div class="card-body">
                  <h2 class="card-price text-center">$120 <br /> <span>MB3 Pack</span></h2>
                  <hr>
                  <!-- <ul class="adpackul">
                    <li>Dairect Income RM 144</li>
                    <li>Daily Network Income RM 200 (20 Pair)</li>
                    <li>Monthly Network Income Limit RM6000</li>
                  </ul> -->
                  <a href="#/login" class="btn btn-block btn-primary text-uppercase">Buy Now</a>
                </div>
              </div>
            </div>
            <!-- Pro Tier -->
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-price text-center">$280 <br /> <span>MB7 Pack</span></h2>
                  <hr>
                  <!-- <ul class="adpackul">
                    <li>Dairect Income RM 336</li>
                    <li>Daily Network Income RM 350 (35 Pair)</li>
                    <li>Monthly Network Income Limit RM10,500</li>
                  </ul> -->
                  <a href="#/login" class="btn btn-block btn-primary text-uppercase">Buy Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a name="product"></a>
      <div class="marketingservices homecontent" id="product">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-center">Products</h1>
              <div class="servicesslider">
                <div class="row">
                  <div class="col-md-6">
                    <h2>MAGIC BOOSTER BIO-OIL ADDITIVE
                     <span>ADDITIONAL FUEL FOR PETROL AND DIESEL AS  WELL ENHANCER.</span></h2>
                     <ul>
                      <li>Upgrade Ron 95 (Petrol) to Ron 97, Ron 97 to Ron 100 and Euro 3 (Diesel) to Euro 5</li>
                      <li>Economic (Fuel Consumption) up to 30-45%</li>
                      <li>100% combustion</li>
                      <li>Smooth engine</li>
                      <li>Increase torque and horse power up to 10-15hp</li>
                      <li>Reduce smoke and carbon dioxide up to 85% (diesel)</li>
                      <li>Maintains fuel injector cleanliness and spark plug life time.</li>
                    </ul>
                    </div>
                  <div class="col-md-6">
                    <div class="imabebox">
                    <img src="assets/img/product1.jpg"/>
                    </div>
                </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6">
                    <div class="imabebox">
                    <img src="assets/img/product2.jpg"/>
                  </div>
                  </div>
                  <div class="col-md-6">
                    <h2>ENGINE OIL TREATMENT
                     <span>ENGINE OIL TREATMENT FOR PETROL/DIESEL.</span></h2>
                     <ul>
                      <li>Anti friction and anti rust</li>
                      <li>Extend engine oil +2000km/150hrs</li>
                      <li>Clean engine</li>
                      <li>Reduce engine temperature</li>
                      <li>Prevent leaking for oil ring and oil seal</li>
                      <li>Extend engine life time</li>
                    
                    </ul>
                  </div>
                 
                </div>
  
                <div class="row">
                  
                  <div class="col-md-6">
                    <h2>DECARBONIZES/FLUSHING
                     <span> FOR PETROL/DIESEL</span></h2>
                     <ul>
                      <li>Direct decarbonizes / flushing</li>
                      <li>Remove carbon in combustion compartment</li>
                      <li>Remove mineral base sludge from engine compartment</li>       
                    
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <div class="imabebox">
                    <img src="assets/img/product3.jpg"/>
                  </div>
                  </div>
                 
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="imabebox">
                    <img src="assets/img/product4.jpg"/>
                  </div>
                  </div>
                  <div class="col-md-6">
                    <h2>GEAR BOX AND AXLE
                     <span>OIL TREATMENT.</span></h2>
                     <ul>
                      <li>Anti friction and anti rust</li>
                      <li>Match for all gear box auto and manual include fiber bearing</li>
                      <li>Reduce gear box and axle friction in high load</li>   
                      <li>Extend gear box and axle life time</li>  
                      <li>Reduce gear box and axle temperature</li>  
                    
                    </ul>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contentarea">
        <div class="container rewards pad60" style="color:#fff;">
          <div class="row">
            <div class="col-md-12">
              <h1 class="whitecolor">Rewards</h1>
            </div>
            <img style="width: 100%;" src="assets/img/Image10.jpeg" />
            <!-- <div class="col-md-12 mb25">
              <h3>WIN EXCITING PRIZES WITH MAGIC BOOSTER!</h3>
              <h3><strong>Terms and conditions applies.</strong></h3>
              <h3>MAGIC BOOSTER. THE REAL MAGIC!</h3>
            </div> -->
            <!-- <div class="col-md-12">
              <div class="magicboxrewards">
                <img src="assets/img/Image10.jpeg" />
                <h3>WIN LUXURY & ATTRACTIVE PRIZES WITH MAGIC BOOSTER. Qualify and Win the quarterly lucky draw worth up to <span>RM500,000</span></h3>
                <div class="row">
                  <div class="col-md-4 col-sm-12">
                    <ul>
                      <li>Minimum age of 18 years old.</li>
                      <li>Qualify with MB7 package only. (Maximum of up to 7 account only)</li>
                      <li>Quarterly accumulated organizational sales of more than 50,000 units.</li>
                    </ul>
                  </div>
                  <div class="col-md-8 col-sm-12">
                    <img src="assets/img/img_offer2.jpg" />
                  </div>
                </div>
  
              </div>
            </div> -->
            <!-- <div class="col-md-3">
              <div class="imgbox">
                <img src="assets/img/rewards/1.jpg" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="imgbox">
                <img src="assets/img/rewards/2.jpg" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="imgbox">
                <img src="assets/img/rewards/3.jpg" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="imgbox">
                <img src="assets/img/rewards/4.jpg" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="imgbox">
                <img src="assets/img/rewards/5.jpg" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="imgbox">
                <img src="assets/img/rewards/6.jpg" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="imgbox">
                <img src="assets/img/rewards/7.jpg" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="imgbox">
                <img src="assets/img/rewards/8.jpg" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="imgbox">
                <img src="assets/img/rewards/9.jpg" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="imgbox">
                <img src="assets/img/rewards/10.jpg" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="imgbox">
                <img src="assets/img/rewards/11.jpg" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="imgbox">
                <img src="assets/img/rewards/12.jpg" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="imgbox">
                <img src="assets/img/rewards/13.jpg" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="imgbox">
                <img src="assets/img/rewards/14.jpg" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="imgbox">
                <img src="assets/img/rewards/15.jpg" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="imgbox">
                <img src="assets/img/rewards/16.jpg" />
              </div>
            </div> -->
          </div>
        </div>
      </div>

      <!--- Footer area -->

      <div class="footerarea">
        <div class="container">
          <div class="col-md-12">
            <p class="mt20 copyright">Copyright &copy; 2020 Magic Booster. All rights
              reserved.</p>
          </div>
        </div>
      </div>

    </section>
    <!-- content area end -->


  </section>

<script>
    $(document).ready(function () {
      $(".homeslider").show();
      $(".homeslider").slick({
        dots: true,
        fade: true,
        infinite: true,
        autoplay: true,
        arrows: false,
        autoplaySpeed: 3000,
        speed: 1500,
        slidesToShow: 1,
        adaptiveHeight: true
      });

      $(".regular").show();
      $(".regular").slick({
        dots: false,
        infinite: true,
        rows: 1,
        slidesPerRow: 1,
        slidesToShow: 1,
        slidesToShow: 3,
        slidesToScroll: 1,
        responsive: [
          {
            breakpoint: 800,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1,
              infinite: true,
              dots: false
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }

          }
          // You can unslick at a given breakpoint now by adding:
          // settings: "unslick"
          // instead of a settings object
        ]
      });
    });
  </script>